body {
    font-family: Arial, sans-serif;
    background-color: #D6D9CE; /* Changed */
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #F3DADB; /* Changed */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#btn {
    background-color: #F4C3C2; /* Changed */
    color: #fff;
    cursor: pointer;
}

#btn:hover {
    background-color: #F1B5CB; /* Changed */
}
